p{margin:0;}
ul,ol{margin: 0;padding: 0}
li{list-style:none;}
.cl{clear: both;}
.free-goods input{width:100% !important;border:1px solid #ccc;}
.cart{width: 1000px;margin: 0 auto}
.p-common-header .container-fluid .collapse ul.icons-cart{width: 352px; height: 42px;background: url(../images/common/icons.png) no-repeat -39px -887px;}
.container-fluid .collapse ul.icons-cart li{margin-top:7px;font-size:20px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;text-align: center;}
.container-fluid .collapse ul.icons-cart li.cur p{color:#64a131;}
.container-fluid .collapse ul.icons-cart li span{color:#ffffff;}
.container-fluid .collapse ul.icons-cart li p{margin-top: 12px;font-size:12px;}
.container-fluid .collapse ul.icons-cart li.li1{position: relative;left:-10px;}
.container-fluid .collapse ul.icons-cart li.li2{position: relative;left:80px;}
.container-fluid .collapse ul.icons-cart li.li3{position: relative;left:165px;}
.cart-filter-bar .mycart{padding-left:22px; height: 25px;background: url(../images/common/icons.png) no-repeat -525px -330px; }
.cart-filter-bar .mycart p{font-size:20px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color:#555555;margin-left: 14px;line-height: 27px;line-height: 35px\9;}
.cart-filter-bar .mycart a{font-size: 14px;font-family:"Hiragino Sans GB","Microsoft YaHei",sans-serif; color:#64a131;  padding-top: 10px;}
.cartmain{margin-top: 14px;}
.cartmain .cart-head{height: 50px;line-height: 50px;line-height: 56px\9\0; padding-left:14px;border:1px solid #ccc;background-color: #f1f1f1;color:#999999;}
.cartmain .cart-head .cart-select{width: 63px;height: 50px;}
.cartmain .cart-head .cart-select .select{float: left; padding-left:20px;height: 20px;margin-top: 15px;background: url(../images/common/icons.png) no-repeat -62px -192px;cursor: pointer;}
.cartmain .cart-head .cart-select .selected{background-position:-62px -157px; }
.cartmain .cart-head span{float: left;font-size:14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;}
.cartmain .cart-head .cart-select span{margin-left: 15px;}
.cartmain .cart-head .cart-good{margin-left: 96px;}
.cartmain .cart-head .cart-spec{margin-left: 245px;}
.cartmain .cart-head .cart-price{margin-left: 75px;}
.cartmain .cart-head .cart-number{margin-left: 61px;}
.cartmain .cart-head .cart-sum{margin-left: 93px;}
.cartmain .cart-head .cart-action{margin-left:88px;}
.cartmain .cart-empty{padding:50px 0; font-size:16px; color:#555; text-align:center;border-bottom:1px solid #ccc;}
.cartmain .cart-empty>a{color:#64a131;}
.cartmain .cart-order {border:1px solid #ccc;border-top:none;  border-bottom: none;}
.cartmain .cart-order .cartbox{height:130px;border-bottom: 1px solid #ccc; }
.cartmain .cart-order .cartbox div{height: 100%;}
.cartmain .cart-order .cartorder-select{width: 51px;padding: 0 14px}
.cartmain .cart-order .cartorder-select .select{float: left; padding-left:20px;height:20px; margin-left:0; margin-top: 56px;background: url(../images/common/icons.png) no-repeat -62px -192px;cursor: pointer;}
.cartmain .cart-order .cartorder-select .selected{background-position:-62px -157px;}
.cartmain .cart-order .cartbox .cart-imgs{width: 110px;height: 110px;margin: 10px 0;position: relative;}
.cartmain .cart-order .cartbox .cart-imgs a img{width:100%;height: 100%}
.cartmain .cart-order .cartbox .cart-name{width: 260px;}
.cartmain .cart-order .cartbox .cart-name .others{padding-left: 15px;}
.cartmain .cart-order .cartbox .cart-name .others p{width: 60px;height: 20px;margin:0;line-height: 20px;line-height: 25px\9\0; text-align: center; color:#ffffff; background-color: #64a131;border-radius: 4px;}
.cartmain .cart-order .cartbox .cart-name .others p.end-time{background: #fff;color: #64a131;width: 245px;text-align: left;font-size: 12px;margin-top: 8px;}
.cartmain .cart-order .cartbox p{ margin: 15px 0;margin-left: 15px;margin-bottom: 0; font-size:14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;}
.cartmain .cart-order .cartbox p a{display: block;height: 42px;overflow: hidden;text-overflow: ellipsis; color:#555555;text-decoration: none;}
.cartmain .cart-order .cartbox .sum p{margin: 15px 0;margin-left: 0; font-size:14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color:#64a131;font-weight: bold}
.cartmain .cart-order .spec-num{width: 62px;font-size:14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color:#555555;}
.cartmain .cart-order .price-singular{width: 168px;text-align: center;}
.cartmain .cart-order .price-singular p{font-size:14px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color:#64a131;font-weight: bold}
.cart-goods {margin-top: 15px; height: 24px !important;border: 1px solid #dddddd; border-radius: 1px;width: 93px;}
.cart-goods span.num{width: 28px;height: 22px;background-color: #eeeeee;color: #a6a6a6;text-align: center;line-height: 22px;font-size: 14px; cursor:pointer;}
.cart-goods input {outline:none;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size: 14px;width: 35px;height: 22px;border: 0px;text-align: center;line-height: 24px;padding: 0px;background-color: #fff;}
.cartmain .cart-order .cartbox .sum{width: 120px;text-align: center;}
.cartmain .cart-order .cartbox .delete{width:130px;cursor:pointer;text-align: center;}
.cartmain .cart-order .cartbox2 {height: 48px;border-bottom: 1px solid #ccc;background-color: #fff9eb;}
.cartmain .cart-order .cartbox2 .send-free{padding-left: 51px;padding-top: 14px;}
.cartmain .cart-order .cartbox2 p.title{font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;padding-left:17px;padding-top:14px;padding-right:17px}
.cartmain .cart-order .cartbox2 .send-free p{width: 60px;height: 20px;line-height: 20px;line-height: 25px\9\0;text-align: center;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif; color:#ffffff; background-color: #64a131;border-radius: 4px;overflow: hidden;}
.cartmain .cart-order .cartbox2 p a{color:#64a131;}
.cartmain .cart-order .cartbox2 p em{color:#f6ab00;font-style:normal;font-weight:bold;}
.cartmain .cartfooter {margin-top:24px;padding-left: 14px;height:50px;line-height: 50px;line-height: 56px\9\0;border:1px solid #64a131;background-color:#f5ffed;}
.cartmain .cartfooter .cart-select .select{float: left;padding-left: 20px;height: 20px;margin-top: 15px;background: url(../images/common/icons.png) no-repeat -62px -192px;cursor: pointer;}
.cartmain .cartfooter .cart-select .selected{background-position:-62px -157px;}
.cartmain .cartfooter .cart-pay span{float: left; margin-left: 15px;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color:#999999}
.cartmain .cartfooter .cart-select span{float: left; margin-left: 15px;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color:#b4b8b2}
.cartmain .cartfooter .cart-pay span em{color:#64a131;font-style: normal;font-weight: bold;}
.cartmain .cartfooter .cart-pay span.all-order{margin-left: 15px;font-size: 22px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color:#64a131;font-weight: bold;}
.cartmain .cartfooter .cart-pay span.go-pay{width: 150px;height: 48px;background-color: #64a131;text-align: center;font-size: 20px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color:#ffffff;background-color:#64a131;}
/*修改去结算样式 by rose 20150907*/
.cartmain .cartfooter .cart-pay a.go-pay{float: left; text-decoration:none; margin-left:15px; width: 150px;height: 48px;background-color: #64a131;text-align: center;font-size: 20px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color:#ffffff;background-color:#64a131;cursor: pointer;}
/*轮播开始*/
.look-history{position: relative;}
.look-history .scrollbar ul li{padding-top: 15px;padding-bottom: 15px; line-height: 32px;font-size:16px;font-family:"Hiragino Sans GB","Microsoft YaHei",sans-serif;color:#555555; cursor: pointer;}
.look-history .scrollbar ul li p{padding-right: 10px; border-right: 1px solid #ccc;}
.look-history .scrollbar ul li p.p-noborder{padding-left: 10px;border:none;}
.look-history .scrollbar ul li.looked{border-bottom:1px solid #64a131;}
.look-history .scrollbar ul .line{width: 1px;height: 30px;background-color:#dddddd;margin-left:13px;margin: 22px 13px 0 ;}
.look-history .wrap{border: 1px solid #dddddd;}
.look-history .frame{overflow: hidden;height: 264px;width: 920px;margin: 0 auto;}
.look-history .frame ul.slidee li{float: left; margin:22px 9px; width:166px;}
.look-history .frame ul.slidee li img{width:100%;}
/*.look-history .frame ul.slidee li.active{box-shadow:0 0 8px rgba(0,0,0,.25)}*/
.look-history .frame ul.slidee li p.history-name{ padding-left:3px; padding-right:3px; font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #555555;margin-top:15px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.look-history .frame ul.slidee li p.history-price{ padding-left:3px; padding-right:3px; font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #b0b0b0; margin-bottom:3px;}
.look-history .prev{ position: absolute; top:193px;left:12px;cursor:pointer; }
.look-history .next{position: absolute; top:193px;right:20px;cursor:pointer;}
.look-history .prev div{width: 12px;height: 22px;background: url(../images/common/icons.png) no-repeat -127px -155px;}
.look-history .prev div:hover{width: 12px;height: 22px;background: url(../images/common/icons.png) no-repeat -156px -187px;}
.look-history .next div{width: 12px;height: 22px;background: url(../images/common/icons.png) no-repeat -127px -225px;}
.look-history .next div:hover{width: 12px;height: 22px;background: url(../images/common/icons.png) no-repeat -127px -187px;}

.look-history .look-history-con{height:266px; border:1px solid #ddd;}
.look-history .wrap{border:none;}

.look-history .frame ul.slidee li>a{display:block; text-decoration:none;}
.look-history .frame ul.slidee li>a:hover{box-shadow:0 0 8px rgba(0,0,0,.25)}

/*pad 适配*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
body{ width: 100%;height: 100%;}
.container-fluid .collapse ul.icons-cart{margin-top: 8px;}
}
@media only screen and (max-device-width:768px) and (orientation:portrait){
body{width: 100%; height: 100%;}
.container-fluid .collapse ul.icons-cart{margin-top: 8px;}
.w-750{width: 750px; margin: 0 auto;}
.cart-select{width: 10%;}
.cartmain .cart-head .cart-good{width: 10%;margin: 0}
.cartmain .cart-head .cart-good{margin-left:12%}
.cart-spec{width: 5%}
.cartmain .cart-head .cart-spec{margin-left: 6%}
.cart-price{width: 10%}
.cartmain .cart-head .cart-price{margin-left: 6%}
.cart-number{width: 10%}
.cartmain .cart-head .cart-number{margin-left: 6%}
.cart-sum {width: 10%}
.cartmain .cart-head .cart-sum{margin-left: 3%}
.cart-action{width: 4%}
.cartmain .cart-head .cart-action{margin-left: 4%}
.cartmain .cart-order .cartbox{height: 100px;}
.cartmain .cart-order .cartbox p a{white-space:nowrap;height: 20px;}
.cartmain .cart-order .cartorder-select{width: 7%;padding:0 2%;}
.cartmain .cart-order .cartorder-select .selected{margin-top: 43px}
.cartmain .cart-order .cartbox .cart-imgs{width:75px;height: 75px;margin-top: 12px;}
.cartmain .cart-order .cartbox .cart-imgs img{width:100%;height:100%;}
.cartmain .cart-order .cartbox .cart-name{width: 15%;}
.cartmain .cart-order .cartbox .cart-name .others p.end-time{width:100px;line-height: 16px;height: 16px;margin-top: 4px;}
.cartmain .cart-order .spec-num{margin-left:2%;}
.cartmain .cart-order .price-singular{width: 136px;}
.cartmain .cart-order .price-singular p{width:100%;text-align: center;margin-left: 0;}
.cartmain .cart-order .cartbox .sum{width:12% ;margin-left:1%;}
.cartmain .cart-order .cartbox .delete{width: 88px;}
.cartmain .cartfooter{height: 50px;}
.cartmain .cartfooter .cart-select .selected{margin-top: 10px;}
.cartmain .cartfooter .cart-select span{line-height: 50px;}
.cartmain .cartfooter .cart-pay span.go-pay{height: 38px;}
.cartmain .cartfooter{line-height: 50px;margin-top:10px;}
.look-history .scrollbar{margin-top: 10px;}
.look-history .scrollbar ul li{height:auto;}
.look-history .scrollbar ul li.line{margin: 9px 13px 0;}
.look-history .wrap{height: 230px;overflow: hidden;}
.look-history .wrap .frame{width: 696px;}
.look-history .wrap .frame ul{width: 700px; }
.look-history .wrap .frame ul.slidee li{margin:17px 5px;}
.look-history .frame ul li img{width:90%;height: auto;}
.look-history .frame ul.slidee li p.history-name{margin-top: 4px;}
.look-history .frame{height: 220px;overflow: hidden;}
.look-history .prev,.look-history .next{top: 142px;}
.p-common-footer>.content{margin-top: 20px;}
.look-history .frame ul.slidee li{width:150px;}
.cartmain .cart-order .cartorder-select .select{margin-top:40px;}
.cartmain .cartfooter .cart-select .select{margin-top:15px;}
.look-history .next{right:10px;}
.look-history .look-history-con{height:232px;}
}